#register,
#login {
    width: 320px;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #fffff;
    margin: 10px auto;
}

#register,
#login.border:hover. {
    color: blue;
    background: #f6b93b;
    border-color: #f6b93b;
    transition: all 0.4s ease 0s;
}

form input {
    padding: 10px;
    text-transform: lowercase;
    border: solid 1px #BDC7D8;
}

.intro:hover {
    color: red;
}

.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
}

.sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(1, 5, 38, 0.05);
    width: 280px;
    height: 56px;
    border-width: 0px;
    border-radius: 50px;
    transition: all 0.4s ease 0s;
}

.buttonText {
    width: 66px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.36px;
    text-align: center;
    color: rgba(1, 5, 38, 0.5);
}

.button:hover {
    background-color: #fff800;
    transition: all 0.4s ease 0s;
}

.button-primary {
    color: yellow;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(1, 5, 38, 0.05);
    width: 280px;
    height: 56px;
    border-width: 0px;
    border-radius: 50px;
    background: yellow;
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button--primary:hover {
    color: yellow;
    background: yellow;
    border-color: yellow;
    transition: all 0.4s ease 0s;
}

input {
    width: 100%;
    border: 50px;
    outline: 50px;
    padding: 0.5rem 0;
    border-bottom: 2px solid #010526;
    box-shadow: #010526;
    color: #010526;
}

::placeholder {
    color: #b8bbc6;
    font-size: 16px;
}

h1 {
    height: 33px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.56px;
    text-align: center;
    color: #010526;
}

.form-control {
    color: #B8BBC6;
    text-transform: unset;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #B8BBC6;
    display: inline-block;
    transition: all 0.4s ease 0s;
    width: 290px;
    height: 56px;
    font-family: "FontAwesome", "Roboto";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    border-radius: 6px;
}

.form-control:hover {
    color: #010526;
    border-color: #010526;
    transition: all 0.4s ease 0s;
    font-family: "FontAwesome", "Roboto";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    border-radius: 6px;
}

#loader {
    position: absolute;
    top: 40%;
    left: 45%;
}

#tokenExpire {
    font-family: Roboto;
    font-size: 16px;
    padding-left: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #010526;
}

#countdownTime {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #721c24;
}

#resendOtp {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: rgb(1, 5, 38);
}
::placeholder {
    color: #b8bbc6;
    font-size: 16px;
}

.alert {
    text-align: center;
    font-size: 16px;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}